.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1f4d8f;
}

h2{
  font-size: 40px;
  font-weight: 400;
}
p{
  color: rgb(62, 61, 61);
  font-size: 22px;
}
.container ul {
  list-style: none;
}

.container ul li{
  text-align: center;
  border: 1px solid black;
  padding: 8px;
}

.container ul li:hover{
  background-color: rgb(219, 219, 219);
  transition: 0.2s;
}