.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1{
  color: #1f4d8f;
  font-size: 44px;
}

.container div{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.container input{
  width: 350px;
  height: 40px;
  border-radius: 12px;
}

.container button{
  background-color: rgb(0, 157, 255);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  width: 250px;
  font-size: 20px;
  margin-left: 55px;
  margin-top: 35px;
}

.container button:hover{
  opacity: 0.8;
  transition: 0.2s;
}

