.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container div{ 
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container input{
  width: 530px;
  padding-left: 20px;
  height: 50px;
  border-radius: 8px;
}
